body {

}

#topbanner {
  display:inline-block;
  margin: auto;
  padding: 16px 24px;
  line-height: 64px;
  border: 1px solid green;
}

.colmar {
  font-weight: bold;
}

a {
  text-decoration: none;
  text-align: right;
  color: black;
}
