body {
  font-family: helvetica, sans-serif;
  font-size: 16px;
}

#topbanner {
  display: inline-block;
  height: 64px;
  width: 95%;
  margin: 32px 24px 32px 24px;
  align-content: center;
  border: 1px solid black;
}

.colmar {
  font-weight: bold;
}

.academy {
  color: gainsboro;
}

nav {
  display: flex;
  flex: auto;
  justify-content: flex-end;
  margin-right: 24px;
  align-items: center;
}
